* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 50px;
    background-color: chocolate;
    color: white;
}

body {
    background-color: antiquewhite;
}